body{
    background-color: black;
}
.fales-1{
    background-color: red !important;
    color: white;
}
.fales-2{
    background-color: lightgreen !important;
    color: white;
}
.fales-3{
    background-color: blue !important;
    color: white;
}